*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
}

nav{
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    justify-content: flex-start;
}

nav a{
    color:#fff;
    text-decoration: none;
}

.access{
    text-align: center;
    width: 130px;
    color: rgb(204, 146, 252);
    background: radial-gradient(rgb(255, 157, 226) 3px, transparent 4px), radial-gradient(rgb(132, 130, 253) 3px, transparent 4px), linear-gradient(#fff 4px, transparent 0), linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px), linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px), #fff;
    background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    display: block;
    z-index: 100000000;
    animation: moveLeft 1s ease-in;
    transition: 0.5s;
    cursor: pointer;
    border-radius: 15px;
    border: none;
    box-shadow: 0px 9px 0px 0px #924eff7a;
}
.access:hover{
    box-shadow: none;
    transform: translateY(5px);
    transition: all .1s linear;
  }
.access:focus{
   outline: none;
}

header{
    background: radial-gradient(rgb(255, 157, 226) 3px, transparent 4px), radial-gradient(rgb(132, 130, 253) 3px, transparent 4px), linear-gradient(#fff 4px, transparent 0), linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px), linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px), #fff;
    background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
    height: auto;
    padding: 48px;
    width: 100%;
}

.container{
    width: 95%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
}

img{
    display: block;
    height: 450px;
    object-fit: cover;
    animation: up 1s ease-in;
}

.texts{
    width: 50%;
    color:rgb(204, 146, 252);
}

.texts h1{
    font-size:80px;
    animation: moveRight 1s ease-in;

}

.texts h2{
    font-size:30px;
    animation: moveLeft 1s ease-in;
}

.texts a{
    display: inline-block;
    color:#fff;
    font-weight: 300;
    text-decoration: none;
    margin-top: 30px;
    border: 1px solid #fff;
    width: 150px;
    border-radius: 3px;
    text-align: center;
    padding: 10px 0;
    animation: up 1s ease-in;

}

.wave{
    height: 100px;
    width: 100%;
    background: radial-gradient(rgb(255, 157, 226) 3px, transparent 4px), radial-gradient(rgb(132, 130, 253) 3px, transparent 4px), linear-gradient(#fff 4px, transparent 0), linear-gradient(45deg, transparent 74px, transparent 75px, #a4a4a4 75px, #a4a4a4 76px, transparent 77px, transparent 109px), linear-gradient(-45deg, transparent 75px, transparent 76px, #a4a4a4 76px, #a4a4a4 77px, transparent 78px, transparent 109px), #fff;
    background-size: 109px 109px, 109px 109px, 100% 6px, 109px 109px, 109px 109px;
    background-position: 54px 55px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
}

.links{
    position: fixed;
    display: flex;
    top: 0;
    background: #000;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    right: 0;
    flex-direction: column;
    width: 100%;
    transition: all 1s ease;
    background: #b85ee2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a007f8, #af4ebc);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a007f8, #8a4ebc); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.one{
    
    -webkit-clip-path: circle(0% at 0 0);
    clip-path: circle(0% at 0 0);

}

.two{
    
    -webkit-clip-path: circle(150% at 0 0);
    clip-path: circle(150% at 0 0);
    
    }

@keyframes moveLeft{
    0%{
        opacity: 0;
        transform: translateX(-100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveRight{
    0%{
        opacity: 0;
        transform: translateX(100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes up{
    0%{
        opacity: 0;
        transform: translateY(100px);
    }

    100%{
        opacity: 1;
        transform: translate(0);
    }
}

@media screen and (max-width:1000px){
    img{
        height: 400px;
    }

}

@media screen and (max-width:800px){
    img{
        height: 370px;
    }
    .texts h1{
        font-size: 70px;
    }

    .texts h2{
        font-size: 25px;
    }
    
}

@media screen and (max-width:700px){
    img{
        height: 250px;
    }
    .texts h1{
        font-size: 40px;
    }

    .texts h2{
        font-size: 15px;
    }
    
}

@media screen and (max-width:450px){
    .container{
        width: 100%;
        flex-wrap: wrap-reverse;
        justify-content: center;
    }
    .texts{
        width: 100%;
        text-align: center;
    }
    .texts h1{
        font-size: 60px;
    }    
}

@media screen and (max-width:340px){
    img{
        height: 160px;
    }
    .texts h1{
        font-size: 35px;
    }
    .texts a{
        width: 120px;
    }
    .texts h2{
        font-size: 15px;
    }
}
