body {
    
    margin: 0; 
    background: url(./im.png) no-repeat center top;
    background-size: cover;
}

.row {
    
    color: rgb(45, 235, 70);
}

.card {
    opacity: .80;
}

#head{
    color: rgb(45, 235, 70);
}
